body {
   background-color: #8B759E;
   font-family: AndaleMono, "Andale Mono", monospace;
}

button {
   background-color: #ECC8C7;
}

embed {
   height: 50%;
   width: 95%;
}

img {
   height: auto;
   width: 50%;
}

.hidden {
   display: none;
   margin-bottom: 10px;
   padding: 0;
   position: static;
   z-index: 1;
}

.hidden a {
   display: block;
}

.dropdown {
   transition: 0.5s;
}

.dropdown:hover .hidden {
   height: auto;
   display: block;
}
