body {
   background-color: #8B759E;
   font-family: monospace;
}

header {
   margin-top: 5em;
}

h1 {
   font-size: 35px;
}

p {
   font-family: cousine;
   font-size: 15px;
   margin: 0px;
   width: 275px;
}

.desktop-icon {
   float: right;
   margin-right: 10px;
   margin-top: 35px;
   width: 125px;
}

.social-media {
   height: 20px;
}

/* short biography detailing academic background */
#bio {
   font-size: 12.5px;
   height: 100px;
   overflow-x: scroll;
   width: 20em;
}

/* bio window div */
/* make a window title bar */
#bio-window {
   background-color: aliceblue;
   border: 1px solid lightgray;
   border-radius: 10px;
   box-shadow: 2px 2px 5px #332B39;
   margin-left: 35px;
   margin-top: 35px;
   padding-bottom: 25px;
   padding-left: 25px;
   padding-right: 25px;
   padding-top: 40px;
   width: 40em;
}

/* computer screen div */
#computer {
   background-clip: content-box;
   background-color: darkblue;
   border: 25px groove darkgray;
   height: 35em;
   margin-left: 50px;
   width: 60em;
}

#stats {
   height: 15em;
   float: right;
   margin-right: 100px;
   width: 10em;
}

@font-face {
   font-family: cousine;
   src: url(themes/default/cousine/Cousine-Regular.ttf);
}
