a {
   color: #9abcc5;
}

body {
   background-color: #392f38;
   color: gainsboro;
   font-family: monospace;
   overflow: hidden;
   width: 110em;
}

button {
   background: none;
   border: none;
   transition: .5s;
}

div {
   transition: .5s;
}

/* this is the desk */
footer {
   background-color: #9a7e77;
   height: 150px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 110px;
   translate: -10px;
   width: 112.5em;
}

header {
   margin-top: 5em;
}

h1 {
   font-size: 25px;
   margin-bottom: 5px;
}

/* sliders indicating skill */
/* input[type="range"] {
   appearance: none;
   background: none;
   display: block;
   height: 5px;
   width: 5px;
   -webkit-appearance: none;
} */

/* input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
   height: 5px;
   width: 5px;
   -webkit-appearance: none;
} */

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
   background: linear-gradient(to right, black, lightgray);
   block-size: auto;
   -webkit-mask: repeat left center/20% url(icons/star.png);
}

/* toolbar */
nav {
   background-color: #514e5585;
   border-radius: 25px;
   margin-left: 85px;
   margin-top: 35px;
   height: 75px;
   width: 600px;
}

p {
   font-family: cousine;
   font-size: 12.5px;
   margin: 0px;
   width: 225px;
}

.desktop-icon {
   float: right;
   margin-right: -10px;
   margin-top: 35px;
   width: 125px;
}

.desktop-icon p {
   translate: -10px;
}

/* icons on the hotbar */
.tooltip {
   margin-left: 20px;
   margin-right: 20px;
   translate: 245px 50px;
   width: 5px;
}

.tooltip:hover .tooltip-text {
   visibility: visible;
}

.tooltip-text {
   background-color: #292831;
   border-radius: 10px;
   border: solid 5px #292831;
   color: antiquewhite;
   position: absolute;
   top: -30px;
   translate: -20px;
   visibility: hidden;
}

.social-media {
   height: 20px;
}

/* short biography detailing academic background */
#bio {
   font-size: 12.5px;
   height: 75px;
   overflow-x: scroll;
   width: 20em;
}

/* bio window div */
/* make a window title bar */
#window {
   background-image: linear-gradient(to bottom, #574870 25%, #412872);
   border-bottom: 1px solid #4f4753;
   border-left: 1px solid #4f4753;
   border-right: 1px solid #4f4753;
   border-top: 20px solid;
   border-top-color: #c5c9b7;
   border-radius: 10px;
   box-shadow: 10px 10px 10px #332B39;
   height: 15em;
   margin-left: 35px;
   margin-top: 35px;
   padding-bottom: 25px;
   padding-left: 25px;
   padding-right: 25px;
   width: 30em;
}

/* computer screen div */
#computer {
   background-clip: content-box;
   background-image: linear-gradient(to bottom, #9ef7dc 75%, #423668);
   border: 25px groove #383b3e;
   box-shadow: 5px 5px 50px 10px #629ab8ac;
   height: 30em;
   margin-left: 50px;
   width: 60em;
   z-index: 1;
}

/* books */
#notebook {
   background-image: linear-gradient(to bottom, #9d6256, #392620);
   height: 80px;
   translate: 52.25em -5em;
   width: 35em;
}

#open-notebook {
   background-image: linear-gradient(to right, lightgray 50%, darkgray 10%, lightgray);
   border-radius: 25px;
   color: black;
   height: 45em;
   translate: 10em 10em;
   width: 60em;
}

#sketchbook {
   background-image: linear-gradient(to bottom, #af786c, #513227);
   height: 80px;
   translate: 50.75em -60.85em;
   width: 30em;
   z-index: -100;
}

/* on desktop */
#stats {
   height: 140px;
   float: right;
   width: 10em;
   overflow-x: scroll;
}

@font-face {
   font-family: cousine;
   src: url(themes/default/cousine/Cousine-Regular.ttf);
}
